<configuration>

    <!-- Definindo um appender para saída no console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Configurando o padrão de saída dos logs -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Definindo o nível de log para o ROOT e os pacotes específicos -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
